<div class="card col-md-6">
    <h5 class="card-header col-md-12">Desenvolvido por:</h5>
    <div class="card-body">
        <h5 class="card-title">Dev Junior</h5>
        <div>
            <b>Nome: </b><span>Kleiton de Souza Rocha</span><br>
            <b>E-mail: </b><span>kleitonkltn@gmail.com</span><br>
            <b>GIT: </b><span><a href="https://github.com/kleitonkltn">github.com/kleitonkltn</a></span><br>
        </div>
        <br>
        <h5 class="card-title">Dev Junior</h5>
        <div>
            <b>Nome: </b><span>Richard Ribeiro da Silva</span><br>
            <b>E-mail: </b><span>ribeiro.richard112@gmail.com</span><br>
            <b>GIT: </b><span><a href="https://github.com/RichardRibeiro" type="">github.com/RichardRibeiro</a></span><br>

        </div>
        <b>REPOSITORIOS DA APLICAÇÃO</b>
        <p>
        github.com/RichardRibeiro/FrontEndHome
        </p>
    </div>
</div>